@model VN_Center.Models.ViewModels.RegisterViewModel
@{
    Layout = "_BlankLayout";
    ViewData["Title"] = "Registrarse";
}

@section PageStyles {
    <link rel="stylesheet" href="~/vendor/css/pages/page-auth.css">
}

<div class="container-xxl">
    <div class="authentication-wrapper authentication-basic container-p-y">
        <div class="authentication-inner">
            <div class="card px-sm-6 px-0">
                <div class="card-body">
                    <div class="app-brand justify-content-center mb-5">
                        <a asp-controller="Home" asp-action="Index" class="app-brand-link gap-2">
                            @* CORREGIR RUTA AQU *@
                            <span class="app-brand-logo demo">@await Html.PartialAsync("../_Partials/_Macros")</span>
                            <span class="app-brand-text demo text-heading fw-bold">@TempData.Peek("appName")</span>
                        </a>
                    </div>
                    <h4 class="mb-1">隆La aventura comienza aqu铆! </h4>
                    <p class="mb-6">Haz que la gesti贸n de tu aplicaci贸n sea f谩cil y divertida.</p>

                    <div asp-validation-summary="All" class="text-danger mb-3"></div>

                    <form id="formAuthentication" class="mb-6" asp-controller="Auth" asp-action="RegisterBasic" method="post">
                        @Html.AntiForgeryToken()
                        <div class="mb-6">
                            <label asp-for="Nombres" class="form-label"></label>
                            <input asp-for="Nombres" class="form-control" placeholder="Ingresa tus nombres" />
                            <span asp-validation-for="Nombres" class="text-danger"></span>
                        </div>
                        <div class="mb-6">
                            <label asp-for="Apellidos" class="form-label"></label>
                            <input asp-for="Apellidos" class="form-control" placeholder="Ingresa tus apellidos" />
                            <span asp-validation-for="Apellidos" class="text-danger"></span>
                        </div>
                        <div class="mb-6">
                            <label asp-for="UserName" class="form-label"></label>
                            <input asp-for="UserName" class="form-control" placeholder="Ingresa tu nombre de usuario" autofocus>
                            <span asp-validation-for="UserName" class="text-danger"></span>
                        </div>
                        <div class="mb-6">
                            <label asp-for="Email" class="form-label"></label>
                            <input asp-for="Email" type="email" class="form-control" placeholder="Ingresa tu correo electr贸nico">
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                        <div class="mb-6">
                            <label asp-for="PhoneNumber" class="form-label"></label>
                            <input asp-for="PhoneNumber" type="tel" class="form-control" placeholder="Ingresa tu n煤mero de tel茅fono" />
                            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                        </div>
                        <div class="mb-6 form-password-toggle">
                            <label class="form-label" asp-for="Password"></label>
                            <div class="input-group input-group-merge">
                                <input asp-for="Password" class="form-control" placeholder="路路路路路路路路路路路路" aria-describedby="password" />
                                <span class="input-group-text cursor-pointer"><i class="bx bx-hide"></i></span>
                            </div>
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                        <div class="mb-6 form-password-toggle">
                            <label class="form-label" asp-for="ConfirmPassword"></label>
                            <div class="input-group input-group-merge">
                                <input asp-for="ConfirmPassword" class="form-control" placeholder="路路路路路路路路路路路路" />
                                <span class="input-group-text cursor-pointer"><i class="bx bx-hide"></i></span>
                            </div>
                            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                        </div>
                        <button class="btn btn-primary d-grid w-100">
                            Registrarse
                        </button>
                    </form>

                    <p class="text-center">
                        <span>驴Ya tienes una cuenta?</span>
                        <a asp-controller="Auth" asp-action="LoginBasic">
                            <span>Iniciar sesi贸n</span>
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
